@charset "UTF-8";
@use "settings" as *;
@use "utility" as *;
@use "core" as *;

// --------------------------------------------------
// ボタン
// --------------------------------------------------
.button01,
.wp-block-button .wp-block-button__link {
}

.button02,
.wp-block-button.is-style-outline > .wp-block-button__link {
}
// --------------------------------------------------
// テーブル
// --------------------------------------------------
.table01,
.wp-block-table > .has-fixed-layout {
}

.table02,
.wp-block-table.is-style-stripes > .has-fixed-layout {
}

// --------------------------------------------------
// 見出し
// --------------------------------------------------
h2 {
}

h3 {
}

h4 {
}

h5 {
}

// --------------------------------------------------
// リスト
// --------------------------------------------------
.dot-list,
ul.wp-block-list {
}

.num-list,
ol.wp-block-list {
}

// --------------------------------------------------
// 引用
// --------------------------------------------------
blockquote {
}

// --------------------------------------------------
// アコーディオン
// --------------------------------------------------
.wp-block-details {
  summary {
  }
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  & > li {
    & > .page-numbers {
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      line-height: 28px;
      color: $primary;
      display: block;
      width: 30px;
      height: 30px;
      border: 1px solid $primary;
      border-radius: 3px;
      transition: 0.3s;
      &.dots {
        border: unset;
        margin: 0 -5px;
      }
      &.current,
      &:hover {
        background: $primary;
        color: #fff;
      }
      &.next,
      &.prev {
        line-height: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
